# Ignorar archivos .DS_Store (macOS)
.DS_Store

# Si usas Windows, también puedes agregar:
Thumbs.db

# Ignorar carpetas de configuración de IDEs (opcional)
.idea/
.vscode/
*.iml

# Ignorar node_modules (si es un proyecto web)
node_modules/
